.todo-checkbox {
  &__checked {
    display: block;
  }
  &__unchecked {
    display: block;
  }
}

.todo-item {
  display: flex;

  padding: 10rem 20rem;

  background-color: var(--content);
  border-radius: var(--border-radius-small);

  &__icon {
    height: 40rem;
    width: 40rem;
  }

  &__column {
    min-width: 40rem;
  }

  &__vertical-center {
    display: flex;
    align-items: center;
  }

  &__content {
    flex-grow: 1;
    margin: 5rem 15rem;
  }

  &__title {
    font-size: 40rem;
    font-weight: 700;
  }

  &__text {
    font-size: 22rem;
    margin: 10rem 0;
  }

  &__checkbox {
    display: none;
  }

  &__checkbox + label {
    cursor: pointer;

    > .todo-checkbox__checked {
      display: none;
    }
  }

  &__checkbox:checked + label {
    > .todo-checkbox__unchecked {
      display: none;
    }

    > .todo-checkbox__checked {
      display: block;
    }
  }
}
