@import "./shared.scss";
@import "./normalize.scss";
@import "./zeroing.scss";
@import "./vars.scss";
@import "./utils.scss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

html {
  // makes rem == 1px
  font-size: 6.25%;
}

*,
*::before,
*::after {
  color: inherit;
  background: none;
}

body {
  font-size: 16rem;
  background-image: var(--background-gradient);
  color: var(--color-primary);
}

a,
button {
  display: block;
  background: none;
  border: none;
  height: fit-content;
  width: fit-content;

  cursor: pointer;
}

input {
  background: none;
}

img {
  display: block;
  width: 100%;
}
