@import "./normalize.scss";
@import "./zeroing.scss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

html {
  // makes rem == 1px
  font-size: 6.25%;
}

body {
  font-size: 16rem;
}

a,
button {
  display: block;
}

img {
  display: block;
  width: 100%;
}
