:root {
  --color-primary: rgb(240, 240, 240);
  --background-gradient: linear-gradient(90deg, rgba(45, 16, 75, 1) 0%, rgba(60, 15, 106, 1) 100%);
  --content: #5600bf;
  --border-radius-small: 10rem;
}
