.add-todo {
  padding: 10rem;
  border-radius: var(--border-radius-small);

  &__input {
    background-color: var(--content-inner);
    margin-bottom: 10rem;

    padding: 10rem;
    padding-left: 15rem;

    border-radius: var(--border-radius-small);
  }

  &__title-input {
    width: 100%;

    font-size: 30rem;

    outline: none;
  }

  &__multiline {
    width: 100%;

    font-size: 20rem;

    outline: none;
  }

  &__submit-button {
    font-size: 25rem;
  }
}
